body {
    color: #EAE8EB;
    font-family: Andale Mono;
    padding: 5px;
    position: relative;
}
body > div {
    display: block;
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 2px 3px #474C46 inset, 0 0 2px 2px #B6BABB;
    background: -webkit-gradient(linear, left top, left bottom, from(#000097), to(#000030));
    padding: 5px 10px 10px;
}
#icon {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
#icon img {
    width: 32px;
    height: 32px;
}
#title {
    font-weight: bold;
    font-size: medium;
    float: left;
    max-width: 180px;
}
#text {
    font-size:small;
    display: inline-block;
}

/* Level 1 */
body > div#verylow {
}

/* Level 2 */
body > div#moderate {
}

/* Level 3 */
body > div#normal {
}

/* Limit Break Available */
/*body > div#high #title {*/
body > div #title {
    background-image: url('rainbow.gif');
    color:transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

/* LIMIT BREAK! */
body > div#emergency {
    background: -webkit-gradient(linear, left top, left bottom, from(#901089), to(#940D47));
}
